@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
}

/* -------------------- wrapper -------------------- */
#wrapper {
	width: 100%;
	margin: auto;
	padding: 0px;
	border: 0px;
	background-color: #FFF;	
}

 #layout {
     position: static;   /*親要素がstaticのときはウィンドウの左上が基準*/
     /*position: relative;  */   /*親要素がstatic以外のときは親要素の左上が基準*/
     top: 30px;
     border:solid 1px black; /*分かりやすいように付け足し*/
     height: 50px;           /*分かりやすいように付け足し*/
    width: 400px;            /*分かりやすいように付け足し*/
 }
 #layout1 {
     position:absolute;
     top:10px;
     background-color: red;
 }
 #layout2 {
     position:absolute;
     top:10px;
     left:50px;
     background-color: yellow;
 }
 #layout3 {
     position:absolute;
    top:10px;
     left: 90px;
     /*bottom:10px; 分かりやすいように変更 */
     background-color: blue;
 }
 #layout4 {
     position:absolute;
     top:10px;
     left: 120px;
     /* right:120px; 分かりやすいように変更 */
     background-color: gray;
 }